/* reset */
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
/* fine reset */

/* intestazione con logo */

.sfondo {
    border: 1px solid red;
    background-color: white;
    padding-top: 20px;
    padding-bottom: 20px;
}

.logo {
    height: 50px;
    padding-left: 20px;
}

/* barre task e section */

.top {
 
}

.addt {
    
    background-color: #47adf1;
    color: white;
    height: 30px;
    width: 60px;
    text-align: center;
    border-radius: 10%;
    line-height: 60px;
    vertical-align: middle;
    padding: 5px 20px;
}

.adds {
    border: 1px solid #cfd4d8;
    height: 30px;
    width: 60px;
    text-align: center;
    border-radius: 10%;
    line-height: 60px;
    vertical-align: middle;
    padding: 5px 20px;
}

/* barra new task */





