/* reset */
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: Arial, Helvetica, sans-serif;
}
/* fine reset */

/* intestazione con logo */

.sfondo {
    /* border: 1px solid red; */
    background-color: white;
    padding-top: 20px;
    padding-bottom: 20px;
}

.logo {
    height: 50px;
    padding-left: 20px;
}

h1 {
    font-size: 40px;
    vertical-align: middle;
}

.container {
    background-color: white;
    width: 1200px;
    height: 1200px;
    padding: 20px;
    margin: auto;
}

/* barre task e section */

div h3 {
 margin-bottom: 15px;
}

li {
    margin-bottom: 15px;
}

p {
    margin-bottom: 15px;
}

.addt {
    
    background-color: #47adf1;
    color: white;
    height: 30px;
    width: 60px;
    text-align: center;
    border-radius: 5px;
    line-height: 60px;
    vertical-align: middle;
    padding: 5px 20px;
}

.adds {
    border: 1px solid #cfd4d8;
    height: 30px;
    width: 60px;
    text-align: center;
    border-radius: 5px;
    line-height: 60px;
    vertical-align: middle;
    padding: 5px 20px;
}

/* barra new task */

ul {
    list-style: none;
}

h3:before {
    content: "\25BE";
    font-size: 20px;
    line-height: 15px;
}

.check-v:before {
    display: inline-block;
    color: #57baa1;
    content: "\2713";
    border: 1px solid #57baa1;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    text-align: center;
}

.check-x:before {
    display: inline-block;
    color: red;
    content: "\2717";
    border: 1px solid red;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    text-align: center;
}

.editorial {
    background-color: #47adf1;
    color: white;
    height: 30px;
    width: 60px;
    text-align: center;
    border-radius: 15px;
    line-height: 60px;
    vertical-align: middle;
    padding: 5px 20px;
}

.goals {
    background-color: #9c72e4;
    color: white;
    height: 30px;
    width: 60px;
    text-align: center;
    border-radius: 15px;
    line-height: 60px;
    vertical-align: middle;
    padding: 5px 20px;
}

.recruiting {
    background-color: #64c0a9;
    color: white;
    height: 30px;
    width: 60px;
    text-align: center;
    border-radius: 15px;
    line-height: 60px;
    vertical-align: middle;
    padding: 5px 20px;
}

.mobile {
    background-color: #f29e33;
    color: white;
    height: 30px;
    width: 60px;
    text-align: center;
    border-radius: 15px;
    line-height: 60px;
    vertical-align: middle;
    padding: 5px 20px;
}

.website {
    background-color: #d863a1;
    color: white;
    height: 30px;
    width: 60px;
    text-align: center;
    border-radius: 15px;
    line-height: 60px;
    vertical-align: middle;
    padding: 5px 20px;
}

.sales {
    background-color: #b0c926;
    color: white;
    height: 30px;
    width: 60px;
    text-align: center;
    border-radius: 15px;
    line-height: 60px;
    vertical-align: middle;
    padding: 5px 20px; 
}




